@import './config';
.about {
  &__title {
    text-align: center;
    font-size: 1.1rem;
    margin: 3rem;
    position: relative;
    text-transform: uppercase;
    &::before {
      content: 'about';
      text-transform: uppercase;
      font-size: 1.1rem;
      color: $green;
      z-index: 0;
      width: 50px;
      height: 10px;
      position: relative;
      top: -0.5rem;
      background-color: white;
    }
  }
  &__box {
    // @include flex(center, center);

    text-align: center;

    .box {
      background-color: $green-darker;
      color: white;
      padding: 1em;
      width: 100%;
      height: 200px;

      @include center;
      &:hover {
        background: hsl(175, 100%, 10%);
      }

      &:hover .box__icon {
        animation: icon 500ms linear forwards;
      }

      &__icon {
        font-size: 2rem;
        margin-bottom: 0.25rem;
      }

      &--special {
        background-color: white;
        color: black;
        &:hover {
          background: hsl(0, 0%, 90%);
        }
      }
    }
  }
}

// Anime frame
@keyframes icon {
  33% {
    filter: drop-shadow(0px 0px 10px #fff);
    transform: translateY(-10px);
  }

  100% {
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px $blue);
    transform: translateY(-20px);
  }
}
// }

@media screen and (min-width: $breakpoint-desktop) {
  .about {
    &__title {
      &::before {
        font-size: 1.3rem;
      }
      h1 {
        font-size: 3rem;
      }
    }

    &__box {
      @include flex(center, center);
      flex-direction: row;

      .box {
        height: 300px;
        &__title {
          font-size: 2rem;
        }

        &__content {
          font-size: 1.25rem;
        }
      }
    }
  }
}
