@import './config';

.footer {
  position: relative;
  min-height: 30vh;

  background: $green-darker url(../image/rain-1024x768.jpg) center center / cover no-repeat;
  color: rgba(255, 255, 255, 0.7);
  z-index: 0;
  text-align: justify;
  &::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__content {
    .logo {
      font-size: 3rem;
      padding: 0.3em;
    }
    p {
      font-size: 1.4rem;
      width: 70%;
      margin: 0 auto;
      line-height: 2rem;
    }
  }

  &__contact {
    text-align: center;
    h3 {
      font-size: 3rem;
      margin: 1rem;
    }
    img {
      width: 40px;
      height: 40px;
    }
    a {
      display: inline-block;
      margin: 0.5rem 0.4rem;
    }
  }

  &__footer {
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) {
  .footer {
    background: $green-darker url(../image/rain-1440x900.jpg) center center / cover no-repeat;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .footer {
    background: $green-darker url(../image/rain-1920x1080.jpg) center center / cover no-repeat;

    &__main {
      @include flex(center, center);
      flex-direction: row;
      .footer__content {
        p {
          position: relative;
          top: -2rem;
        }
        flex: 3;
      }

      .footer__contact {
        flex: 2;
      }
    }
  }
}
