@import './config';

#home {
  color: white;
  z-index: -1;
  min-height: 100vh;
  position: relative;
  border-radius: 0 0 50px 0;
  @include center;

  &::before,
  &::after {
    content: '';
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
  }

  &::before {
    background: $green-darker url(../image/home-1024x768.jpg) center center / cover no-repeat;
    filter: hue-rotate(100deg);
  }

  &::after {
    background: linear-gradient(to bottom, $green-darker, $green);
    opacity: 0.3;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1rem;
    width: 60%;
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) {
  #home {
    h1 {
      font-size: 6rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
  #home::before {
    background: $green url(../image/home-1440x900.jpg) center center / cover no-repeat;
    background-attachment: fixed;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  #home {
    h1 {
      font-size: 10rem;
    }

    p {
      font-size: 1.6rem;
    }
  }

  #home::before {
    background: $green url(../image/home-1920x1080.jpg) center center / cover no-repeat;
    background-attachment: fixed;
  }
}
