@import './config';

.support {
  text-align: center;
  padding: 2em;
  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'm m m'
      'm m m'
      '. b .';
    place-items: center;
    gap: 0.5em;
    margin: 1rem 0;
  }

  label {
    display: inline-block;
    width: 100px;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    padding: 0.75em;
    grid-area: m;
    cursor: pointer;
    &::after {
      content: '$';
    }
  }

  input {
    display: none;
  }

  input:checked + label {
    background: hsl(0, 50%, 50%);
    color: white;
    font-weight: bold;
    border-color: white;
  }

  button[type='submit'] {
    grid-area: b;
    padding: 0.5em;
    background: $green;
    color: white;
    font-weight: bold;
    width: 100px;
    text-transform: uppercase;
    font-size: 1.25rem;
    border-radius: 10px;
    letter-spacing: 3px;
    border: none;
  }

  &__money {
    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 3rem;
      padding: 0.5em 0.5em;
      border: 2px solid black;
      width: 30%;
      margin: 0 auto;
      &::after {
        content: '$';
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .support {
    @include flex(center, center);
    flex-direction: row;
    &__content {
      order: -1;
      h2 {
        font-size: 5rem;
      }

      & > p {
        font-size: 1.5rem;
        width: 70%;
        margin: 0 auto;
      }

      label,
      button[type='submit'] {
        font-size: 1.25rem;
        width: 175px;
      }
    }
  }
}
