@import './config', './header', './home', './about', './article/article', './article/oxy', './article/temp', './support', './footer';

@import './beside/loader', './beside/popup';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(237, 246, 249, 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: hsla(175, 100%, 5%, 0.8);
}

#contact:target {
  animation: highlight 200ms 2;
}

@keyframes highlight {
  to {
    transform: scale(1.02);
  }
}
