@import '../config';

.article {
  padding: 1rem;
  // display: flex;
  width: 100%;
  h2 {
    font-size: 2rem;
    &::first-letter {
      font-family: $molle;
      font-size: 4rem;
    }
  }

  p:not(.blockquote__p) {
    text-indent: 2rem;
    font-size: 1.25rem;
  }

  p {
    text-align: justify;
  }

  img {
    margin-top: 4rem;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .article {
    @include flex(center, center);
    flex-direction: row;
    padding: 3rem;
    h2 {
      font-size: 3.5rem;
      position: relative;
      right: 5rem;
      white-space: nowrap;
      &::first-letter {
        font-size: 5rem;
      }
    }

    p:not(.blockquote__p) {
      font-size: 1.5rem;
    }
  }

  img {
    width: 50%;
  }
}
